/* Import */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Baskervville:ital@0;1&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 1;
}

/* --------------------
  Font
-------------------- */

/* FirstChristmas */
@font-face {
  font-family: 'FirstChristmas';
  src: url('../fonts/FirstChristmas.woff2') format('woff2'),
       url('../fonts/FirstChristmas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* FrostbittenWanker */
@font-face {
  font-family: 'FrostbittenWanker';
  src: url('../fonts/FrostbittenWanker.woff2') format('woff2'),
       url('../fonts/FrostbittenWanker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Maple3Cartoon */
@font-face {
  font-family: 'Maple3Cartoon';
  src: url('../fonts/Maple3Cartoon.woff2') format('woff2'),
       url('../fonts/Maple3Cartoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* SantasAirMail */
@font-face {
  font-family: 'SantasAirMail';
  src: url('../fonts/SantasAirMail.woff2') format('woff2'),
       url('../fonts/SantasAirMail.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* MSGothic */
@font-face {
  font-family: 'MSGothic';
  src: url('../fonts/MS-Gothic.woff') format('woff2'),
       url('../fonts/MS-Gothic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Serif Font */
.font-baskervville { 
  font-family: "Baskervville", serif;
}

/* Sans Serif Font */
.font-carlito {
  font-family: "Carlito"
}

/* Script Font */
.font-alex {
  font-family: "Alex Brush", serif;
}

/* Handwritten Font */
.font-caveat {
  font-family: "Caveat", serif;
}

/* FirstChristmas */
.font-first-christmas {
  font-family: "FirstChristmas";
  font-size: 100px !important;
}

/* FrostbittenWanker */
.font-frost-bitten-wanker {
  font-family: "FrostbittenWanker";
  font-size: 75px !important;
}

/* Maple3Cartoon */
.font-maple-3-cartoon {
  font-family: "Maple3Cartoon";
  font-size: 100px !important;
  line-height: 1.0 !important;
}

/* SantasAirMail */
.santas-air-mail {
  text-transform: uppercase;
  font-family: "SantasAirMail";
  font-size: 50px !important;
  line-height: 2.5 !important;
}

.font-darker {
  font-family: "Darker Grotesque", serif;
  line-height: 0.8 !important;
  letter-spacing: 1px;
}

.font-color-gray {
  color: #595959;
}

.font-timesroman {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem !important;
  font-weight: 100;
}

/* --------------------
  Header
-------------------- */

.page-header {
  height: 5vh;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 0.9;
}

.header-category-name {
  font-size: 1rem;
  padding: 0 0 0 0.25rem;
}

.header-variation-name {
  font-size: 1.1rem;
  padding: 0 0 0 0.25rem;
  transform: translate(100, 100);
  font-weight: 600;
}

.poem-container {
  height: 90vh;
  width: 100vw;
  padding: 1rem;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

/* Poem text */
.poem-text {
  margin-bottom: 2rem;
  padding: 0 0 0 8rem;
  font-size: 4rem;
  line-height: 1.4;
}

.poem-spacing {
  margin-bottom: 2rem;
  padding: 0 0 0 8rem;
  scale: 0.99;
  transform: translate(-5px, 5px)
}

.poem-spacing-size-adjusted {
  scale: 1.1;
}

/* Poem attribution */
.author {
  text-align: right;
  font-size: 2rem;
  font-style: italic;
  padding: 0 11rem 0 0;
}

.author-adjusted {
  text-align: right;
  font-size: 2rem;
  font-style: italic;
  padding: 5rem 0rem 0 0;
  transform: translate(70px, 0)
}

/* Footer */
.page-footer {
  position: fixed;
  height: 5vh;
  margin: 0;
  font-size: 1rem;
  padding: 1rem;
  text-align: right;
}

.page-footer-adjusted {
  position: fixed;
  width: 100vw;
  height: 5vh;
  margin: 0;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  z-index: 15;
}

.background-light-gray {
  background-color: #f2f2f2;
}

.centering {
  display: flex;
  justify-content: center;
}

.link-adjusted a {
  color: #595959;
  font-weight: 600;
}

.link-adjusted {
  font-weight: 400;
}

/* --------------------
  Animation
-------------------- */

@keyframes wipeAnimation {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.svg-wipeAnimation {
  display: block;
}

.svg-wipeAnimation svg path {
  animation: wipeAnimation 1.5s forwards;
  animation-fill-mode: both;
}

.svg-wipeAnimation svg path:nth-of-type(1) {
  animation-delay: 1s;
}
.svg-wipeAnimation svg path:nth-of-type(2) {
  animation-delay: 3s;
}
.svg-wipeAnimation svg path:nth-of-type(3) {
  animation-delay: 5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.svg-fadeAnimation svg path {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.svg-fadeAnimation svg path:nth-of-type(1) {
  animation-delay: 1s;
}
.svg-fadeAnimation svg path:nth-of-type(2) {
  animation-delay: 3s;
}
.svg-fadeAnimation svg path:nth-of-type(3) {
  animation-delay: 5s;
}

.author-fadeAnimation {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  animation-delay: 7s;
}

/* By Click */
.svg-fadeAnimationByEvent svg path {
  opacity: 0;
}

.svg-fadeAnimationByEvent svg path.animate {
  animation: fadeIn 1.5s forwards;
}

.author-fadeAnimationByEvent {
  opacity: 0;
}

.author-fadeAnimationByEvent.animate {
  animation: fadeIn 1.5s forwards;
}

audio {
  height: 30px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 76%;
  left: 57%;
  transform: translate(-50%, -50%); Centering;
}

.snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.snowflake {
  position: absolute;
  top: -10%;
  background-image: url("../others/snowflake.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  opacity: 0.75;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 30%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.column {
  flex: 50%;
}